.photo-grid {
    max-width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin-bottom: 92px;
}

@media screen and (min-width: 1281px) {
    .photo-grid {
        padding: 0 calc(50px + 10 * ((100vw - 1280px) / (1440 - 1280))) 0;
    }
}

@media screen and (max-width: 1280px) {
    .photo-grid {
        padding: 0 calc(48px + 2 * ((100vw - 1024px) / (1280 - 1024))) 0;
    }
}

@media screen and (max-width: 1025px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 calc(24px + 24 * ((100vw - 768px) / (1024 - 768))) 0;
    }
}

@media screen and (max-width: 769px) {
    .photo-grid {
        margin-bottom: 88px;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 calc(16px + 8 * ((100vw - 425px) / (768 - 425))) 0;
    }
}

@media screen and (max-width: 450px) {
    .photo-grid {
        margin-bottom: 64px;
        grid-template-columns: 1fr;
    }
} 