.places {
    max-width: 1280px;
    margin-bottom: 92px;
    padding: 0 148px 0;
}

@media screen and (max-width: 1280px) {
    .places {
        padding: 0 calc(48px + 100 * ((100vw - 1024px) / (1280 - 1024))) 0;
    }
}

@media screen and (max-width: 1025px) {
    .places {
        max-width: 100vw;
        padding: 0 calc(24px + 24 * ((100vw - 768px) / (1024 - 768))) 0;
    }
}

@media screen and (max-width: 769px) {
    .places {
        margin-bottom: 73px;
        padding: 0 calc(16px + 8 * ((100vw - 320px) / (768 - 320))) 0;
    }
}

@media screen and (max-width: 450px) {
    .places {
        margin-bottom: 66px;
    }
} 