.places {
    padding: 0 calc(50px + 10 * ((100vw - 1280px) / (1440 - 1280))) 0;
}

@media screen and (min-width: 1281px) {
    .places {
        padding: 0 calc(148px + 52 * ((100vw - 1280px) / (1440 - 1280))) 0;
    }
}

@media screen and (max-width: 1280px) {
    .places {
        padding: 0 calc(48px + 100 * ((100vw - 1024px) / (1280 - 1024))) 0;
    }
}

@media screen and (max-width: 1025px) {
    .places {
        padding: 0 calc(24px + 24 * ((100vw - 768px) / (1024 - 768))) 0;
    }
}

@media screen and (max-width: 769px) {
    .places {
        margin-bottom: 73px;
        padding: 0 calc(16px + 8 * ((100vw - 425px) / (768 - 425))) 0;
    }
}

@media screen and (max-width: 450px) {
    .places {
        margin-bottom: 50px;
    }
} 