.place__paragraph {
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.62;
    color: #ffffff;
    margin-bottom: 27px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1025px){
    .place__paragraph {
        font-size: calc(16px + 2 * ((100vw - 768px) / (1024 - 768)));
    }
}

@media screen and (max-width: 769px){
    .place__paragraph {
        margin-bottom: 25px;
        font-size: 16px;
    }
}