.lead__image {
    background-size: cover;
    background-position: center center;
    height: auto;
    margin-bottom: 8px;
    max-width: 984px;
}

@media screen and (max-width: 1025px) {
    .lead__image {
        max-width: 100%;
    }
}

