.intro {
    max-width: 690px;
    padding-left: 148px;
    overflow-x: hidden;
    margin-bottom: 92px;
}

@media screen and (max-width: 1281px) {
    .intro {
        padding-left: calc(48px + 100 * ((100vw - 1024px) / (1280 - 1024)));
    }
}

@media screen and (max-width: 1025px) {
    .intro {
        max-width: 100%;
        padding: 0 calc(24px + 24 * ((100vw - 768px) / (1024 - 768))) 0;
    }
}

@media screen and (max-width: 769px) {
    .intro {
        margin-bottom: 88px;
        padding: 0 calc(16px + 8 * ((100vw - 320px) / (768 - 320))) 0;
    }
}

@media screen and (max-width: 426px) {
    .intro {
        margin-bottom: 62px;
    }
}