.lead__subtitle {
    margin: 0 0 64px;
    padding: 0;
    text-align: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    color: white;

}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
      font-size: calc(16px + 14 * ((100vw - 320px) / 425));
      line-height: 1.25;
    }
}

@media screen and (max-width: 426px) {
    .lead__subtitle {
        margin-bottom: 40px;
    }
}