.cover {
    max-width: 100%;
    margin: 0 48px 92px;
    min-height: 740px;
    padding: 0;
    background: url('../../images/cover-trains.jpg') no-repeat center center; 
    background-size: cover;
    position: relative;
    margin-bottom: 92px;
}

@media screen and (max-width: 1281px) {
    .cover {
        min-height: calc(640px + 100 * (100vw - 1024px) / (1280 - 1024));
        margin: 0 calc(48 * (100vw - 1024px) / (1280 - 1024)) 92px;
    }
}

@media screen and (max-width: 1025px) {
    .cover {
        min-height: calc(480px + 160 * (100vw - 768px) / (1024 - 768));
        margin: 0 0 92px;
    }
}

@media screen and (max-width: 769px) {
    .cover {
        min-height: calc(200px + 280 * (100vw - 320px) / (768 - 320));
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        margin-bottom: 64px;
    }
}