.footer {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 48px 24px;
}

@media screen and (max-width: 1200px) {
    .footer {
        margin: 0 calc(24px + 24 * (100vw - 768px) / (1024 - 768)) 24px;
    }
}

@media screen and (max-width: 750px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 calc(20px + 4 * ((100vw - 600px) / (750 - 600))) 24px;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        margin: 0 calc(16px + 4 * ((100vw - 320px) / (600 - 320))) 24px;
    }
}
