.intro__title {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    color: white;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .intro__title { 
        font-size: calc(32px + 22 * ((100vw - 320px) / 425));
        line-height: 1.09;
    }

}
